= render 'layouts/header'
.aaa
.main
  .main__total
    総合映画ランキング
  .main__content
    - @post.first(5).each do |post|
      = link_to post_path(post.id) do
        .main__content__each
          = image_tag post.images[0][:pic]
          = post.title.truncate(12)
          %br
          .main__content__each__favourite
            いいね！数
          .main__content__each__star
            ★100
  .main__zombie
    ゾンビ映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__murderer
    サイコ映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__thriller
    スリラー映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__monster
    モンスター映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__occult
    オカルト映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__japanese
    Jホラー映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数
  .main__grotesque
    グロテスク映画ランキング
  .main__content
    - @post.first(5).each do |post|
      .main__content__each
        = image_tag post.images[0][:pic]
        = post.title
        %br
        .main__content__each__favourite
          いいね！数