= render 'layouts/header'
.show
  .show__top-box
    .show__top-box__pic
      = image_tag @post.images[0][:pic], size: "346x560"
    .show__top-box__introduction
      .show__top-box__introduction__title
        = @post.title
        %span.show__top-box__introduction__title__date
          (
          = @post.year
          年制作の映画)
      .show__top-box__introduction__genre
        ジャンル：
        - @post.post_genres.each do |genre|
          ／
          = genre.genre.genre
      .show__top-box__introduction__country
        制作国：
        = @post.country
      .show__top-box__introduction__director
        監督：
        = @post.director
      .show__top-box__introduction__story
        あらすじ
      .show__top-box__introduction__story-detail
        = @post.story


  .show__comment
    .show__comment__field
      = form_for [@post, @comment] do |f|
  
        = f.text_area :content, placeholder: "コメントする", class: 'comment-box'
        = f.submit "SEND", class: "form__submit"
    .show__comment__list
      .show__comment__list__display
        「
        = @post.title
        」
        %br
        に投稿された感想・評価（ネタバレあり）
      .show__comment__list__content
        - @comments.each do |comment|
          .show__comment__list__content__each
            = comment.user.email
            %br
            = comment.content
